<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }} | {{ site.title }}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ site.base-url }}/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ site.base-url }}/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="{{ site.base-url }}/css/main.css">
</head>
